#formpane, #tablepane {
	-fx-background-color: black;
}

.table-view {
    -fx-base: #362424;
    -fx-control-inner-background: #362424;
    -fx-background-color: #362424;
    -fx-table-cell-border-color: black;
    -fx-table-header-border-color: black;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-alignment: center;
}

#menubar {
	-fx-background-color: #362424;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.button {
	-fx-background-color: black;
	-fx-text-fill: #821d1d;
}

.button:hover {
    -fx-background-color: #362424;
}

.context-menu {
    -fx-background-color: #362424;
}

.context-menu .label {
    -fx-text-fill: white;
}

